/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
 span{
    color: rgb(229, 62, 29);
 }


/* global style */

.container{
    margin: auto;
    width: 80%;
    
}

.overlay{
    background-color: rgba(0, 0, 0, 0.284);
    height: 100%;
    padding: 2% 0;

}
.bg-dark{
    background-color: black;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clear{
    clear:both;
}

.text-white{
    color: white;
}
.d-inline-block{
    display: inline-block;
}

.upper{
    text-transform: uppercase;
    font-weight: bolder;
}

.text-black{
    color: #000;
}
.icon-color{
    color: #00000063;
    
}
.ground{
    background-color: rgba(227, 234, 245, 0.692);
    overflow: hidden;
}

/* custom style */
#banner{
    background-image: url(../../img/sea.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
}
.top ul{
    width: 30%;
}
.top li{
    margin: 3%;
}
.top{
    padding: 7px 0;
}


.side {
    width: 50%;
    padding: 4% 0;
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 10%;
}

.side h1{
    font-size:40px;
}

.side p{
    margin: 5% 0;
}

hr{
    width: 40px;
    margin: 2px 0;
}

#board
{
    border-color: white;
    border-style: solid;
    padding: 7px  15px;
}


.right-box{
    margin-top: 90px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    
}
.right-box p{
    color: #000;
    background-color: rgb(198, 212, 225);
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: bolder;
    padding-top:3px ;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    
    
}
.right-box input{
    background-color: white;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: #00000043;
    width: 80;
    display: block;
    margin:4px auto;
    width: 80%;
    padding:4% 0;
    
    
}
.login{
    width: 100%;
    height: 48px;
    background-color: rgb(236, 201, 159);
    border: none;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
}


.butterfly{
margin-top: 30px;
}

#click{

background-color: rgb(236, 201, 159);
padding: 10px  20px;


}

.box{
width: 12%;
height: 80%;
text-align: center;
margin: 5% 0;
margin-left:1% ;

}
    
.tab-color {
background-color: rgb(236, 201, 159);
}
    
.tab {
background-color: rgb(48, 45, 45);
        
    
    }
    
.tab1,
.tab2,
.tab3 {
        width: 80%;
        padding: 35% 0;
        margin: 1% 0;
    } 

.white{
    margin-top: 1%; 
    
}
.media{
    width: 20%;

} 

.media > h3{
    
    color: #0000006a;
    font-size: 25px;
}
.media > p{
    color: #0000006a;
    font-size: 17px;
}

.butterfly1 {
    display: block;
    transform: scaleY(-1);
    opacity: 0.6;
    filter: blur(0.5px);
    margin-top: -4%;
    mask-image: linear-gradient(to bottom, rgb(202, 171, 171), rgba(119, 104, 104, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgb(162, 132, 132), rgba(185, 162, 162, 0));
}

.icon{
    font-size: 30px;
    letter-spacing: 15px;
    margin-top: 1%;
}

.horizantle{
    width: 100%;
    margin: 0;

}




.section3 {
    margin-top: 4%;
    margin-bottom: 4%;
}

.photo2 {
    width: 40%;
    height: 50%;
    margin-bottom: 12%;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.3)
}


.img-shadow{
    width: 100%;

    
}

#content1 {
    width: 40%;
    
    
}


.noo{
    margin: 6% 0;
    padding-top: 2%;
}

.h{
    width:15%;
    margin-top: 4%;
    border-color:  #7a0e71;     
}

h3{
    margin-bottom: 10px;
}


.margin-bottom{
    margin-bottom: 5%;
} 


.icon1{
    font-size: 15px;
    padding-right: 2%;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
    color: #7a0e71; 
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 3px;
    margin-right: 14px;
}

.margin4{
    padding-top: 5%;
}

.posetion{
    text-align: center;
    margin-top: 2%;

}

.posetion  > h2{
    font-size: 20px;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.posetion   > hr{
    margin: auto;
    width: 7%;
    margin-top: 2%;
    margin-bottom: 2%;

}


.section4{
    
    padding: 2%;
    text-align: center;
    margin-bottom: 3%;

}


.icon-2{
    font-size: 30px;
    padding-right: 3%;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
    color: #a02596; ;
    width: 60px;
    height: 60px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 2%;
    
}

.spease{
    width: 30%;
    margin-top: 5%;
    margin-right: 2%;
}

.spease > h2{
    margin-bottom: 8%;
}


.margin5{
    margin-top: 2%;
    margin-bottom: 5%;
    
}

.boxs{
    margin-top: 6%;
    margin-bottom: 6%;

}


.three-boxs{
    width: 30%;
    padding-left: 4%;

}

.HEADER{
    border: #ffffff;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding-bottom: 2%;
}

.NAV{
    text-align: center;
    border: #ffffff;
    background-color: #000;
    color: #ffffff;
    padding-top: 2%;
    margin-top: 0.5%;
    padding-bottom: 2%;
}

.s{
    font-size: 100px;
    color: #ffffff;
}

.font-center{
    text-align: center;

}

.orange-line{
    border-top: 5px solid  #7a0e71;
}


.color_box{
    text-align: center;
    border: #ffffff;
    background-color:  #7a0e71;
    color: #ffffff;
    padding: 2%;
}


.li-border{
    border-color: #0000000e;
    border-style: solid;
    
    border-left: none;
    border-right: none;
    padding: 3%;
    background-color: #ffffff;
}

.box-one{
    margin-top: 2%;
}

.card{
    width: 25%;
    text-align: center;
    float: left;
    margin-left: 60px;
    padding: 1%;
    margin-bottom: 40px;
    color: #3d3b3b;
}


.triangle {
  width: 0;
  height: 5px;
  border-left: 10px solid transparent;
  border-right:10px solid transparent;
  border-top: 20px solid rgba(227, 234, 245, 0.468); 
  margin-left: 40px;
}
.color{
    background-color:  rgba(227, 234, 245, 0.468);
}



#banner2{
    background-image: url(../../img/sea\ and\ cloud.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.margin6{
    margin-bottom: 40px;
}


.reviews {
    display: flex;
    align-items: center;
    padding-top: 4%;
}

.reviews .text-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.photo-customer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#border1{

    border-color: #ffffff;
    border-style: solid;
    padding: 1%;
    border-radius: 2px;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    margin-bottom: 5%;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
}

.contact-us input,
.contact-us textarea {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #00000034;
}

.contact-us textarea {
    height: 170px;

}

.full-width-button {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.contact-us button {
    background-color: rgb(236, 201, 159);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}




.margin7{
    font-size: 25px;
    letter-spacing: 15px;
    text-align: center;
    color: #ffffff;
    padding: 1%;

} 

.icon3 i{
    color: white !important;
}


.footer-t{
    font-size: 15px;
    text-align: center;
    padding-bottom: 1%;
}

.bg-black{
    background-color: #000000;
}


